
	<nav>
		<a href="index.html" class="brand">
		<img class="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrIZls0VHBmOrtaeoakb51PzHQwiY553sduQU7h23hvS9sf-O7CX1KAoVkeDkUJ5a2hLY&usqp=CAU">
		<span>Home</span>
	</a>
	<input id="bmenub" type="checkbox" class="show">
	<label for="bmenub" class="burger pseudo button">MENU</label>
	<div class="menu">
		<a href="rap.html" class="{% if page.name != 'rap.html' %}pseudo{% endif %} button">
		Hip-hop</a>
		<a href="randb.html" class="{% if page.name != 'randb.html' %}pseudo{% endif %} button">
		R&B</a>
		<a href="leaders.html" class="{% if page.name != 'leaders.html' %}pseudo{% endif %} button">
		Leaders</a>
	</nav>
